.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
.logo {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 600;
  white-space: nowrap;
}
